.container {
  width: 100%;
  height: auto;
}

.title {
  margin: 70px 0 0 55px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 20.5414px;
  line-height: 151.5%;
  letter-spacing: -0.01em;
  color: #5859f4;
}

.subTitle {
    margin: 10px 0 0 55px;
  font-family: Inter;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 132.2%;
  letter-spacing: -0.035em;
  color: #3f3f3f;
}
