.container {
  width: 100%;
  height: auto;
  margin-top: 100px;
  margin-bottom: 150px;
}

.header {
  width: 80%;
  height: auto;
  justify-content: space-evenly;
  display: flex;
  margin-left: 40px;
  margin-bottom: 12px;
}

.title {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
  letter-spacing: 0.01em;
  color: #505050;
}

.images {
  width: 12px;
  height: 6px;
  margin-top: 18px;
}
